.eleMaiZuoK{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    width: 2.5rem;
    height: 0.32rem;
    border: 0.01rem solid #cccccc;
    margin-top: 0.32rem;
    display: flex;
    justify-content: space-between;
    label {
      width: 0.5rem;
      height: 100%;
      text-align: center;
      line-height: 0.32rem;
      font-size: 0.14rem;
      color: #333333;
    }
    input {
      flex: 1;
      font-size: 0.14rem;
      color: #757575;
      background-color: transparent;
    }

  }
  span{
    display:none;
    width: 2.5rem;
    height:0.14rem;
    position: absolute;
    top:1.7rem;
    color: #fe8233;
  }
  a{
    display: inline-block;
    width: 1.6rem;
    height: 0.36rem;
    background-color: #fe8233;
    text-align: center;
    line-height: 0.36rem;
    color: white;
    font-size: 0.14rem;
    border-radius: 20px;
    margin-top: 0.5rem;
  }
}