.box-login{
  width: 100%;
  flex: 1;
  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    input{
      width: 2.09rem;
      padding-left:0.11rem;
      font-size: 0.14rem;
      color: #999999;
      height: 0.26rem;
      border: 0.01rem solid #c4c4c4;
      margin: 0.35rem auto 0.38rem;
    }
    input:nth-of-type(2){
      margin: 0 auto 0.64rem;
    }
    a:nth-of-type(1){
      display: none;
      width: 0.8rem;
      height: 0.3rem;
      background-color: #29a097;
      position: absolute;
      top: 0.35rem;
      right: 0.49rem;
      font-size: 0.12rem;
      color: white;
      text-align: center;
      line-height: 0.3rem;
      border-radius: 10px;
    }
    span{
      display:none;
      width:2.22rem;
      height: 0.14rem;
      position: absolute;
      top: 1.38rem;
      line-height: 0.14rem;
      color: #fe6e00;
    }
    a:nth-of-type(2){
      display: inline-block;
      width:1.63rem;
      height: 0.39rem;
      background-color: #fe8233;
      border-radius:25px;
      text-align: center;
      font-size: 0.15rem;
      color: white;
      line-height: 0.39rem;
      margin: 0 auto;
    }
  }

}